/* stylelint-disable declaration-no-important */
* {
  color: var(--ratata-black) !important;
}

a {
  text-decoration: none !important;


  &::after {
    content: ' ("attr(href)")' !important;
  }
}
/* stylelint-enable declaration-no-important */
