* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

a,
button {
  touch-action: manipulation;
}

address,
button,
input,
select,
textarea {
  font: inherit;
  line-height: inherit;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

img,
picture {
  display: block;
}

img {
  block-size: auto;
  max-inline-size: 100%;
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
}
