* {
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: none;
}

a,
button {
  touch-action: manipulation;
}

address,
button,
input,
select,
textarea {
  font: inherit;
  line-height: inherit;
}

img,
picture {
  display: block;
}

img {
  block-size: auto;
  max-inline-size: 100%;
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
}
