::selection {
  background-color: var(--ratata-focus-background-color);
  color: var(--ratata-focus-color);
}

::target-text {
  background-color: var(--ratata-focus-background-color);
  color: var(--ratata-focus-color);
}

html {
  font-family: var(--ratata-base-font-family);
  font-size: var(--ratata-base-font-size);
  font-weight: var(--ratata-base-font-weight);
  line-height: var(--ratata-base-line-height);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--ratata-headings-font-family);
  font-weight: var(--ratata-headings-font-weight);
}

h1,
.h1 {
  font-size: var(--ratata-h1-font-size);
  line-height: var(--ratata-h1-line-height);
}

h2,
.h2 {
  font-size: var(--ratata-h2-font-size);
  line-height: var(--ratata-h2-line-height);
}

h3,
.h3 {
  font-size: var(--ratata-h3-font-size);
  line-height: var(--ratata-h3-line-height);
}

h4,
.h4 {
  font-size: var(--ratata-h4-font-size);
  line-height: var(--ratata-h4-line-height);
}

a {
  color: var(--ratata-link-color);
  text-decoration-line: var(--ratata-link-decoration-line);
  text-decoration-skip-ink: auto;
  text-decoration-skip: edges;


  &:hover,
  &:focus-visible {
    color: var(--ratata-link-hover-color);
    text-decoration: var(--ratata-link-hover-decoration-line);
  }
}

b,
strong {
  font-weight: var(--ratata-bold-font-weight);
}

i,
em {
  font-style: italic;
}

small {
  font-size: var(--ratata-small-font-size);
}

del,
s {
  text-decoration-color: currentcolor;
  text-decoration-line: line-through;
}

ins {
  text-decoration: none;
}

sub,
sup {
  font-size: var(--ratata-small-font-size);
  user-select: none;
}

sub {
  inset-block-end: calc((4 / 18) * -1rem);
  position: relative;
  vertical-align: unset;
}

sup {
  inset-block-start: calc((4 / 18) * -1rem);
  position: relative;
  vertical-align: unset;
}

mark {
  background-color: var(--ratata-focus-background-color);
  color: var(--ratata-focus-color);
}

blockquote {



  & p {
    font-style: italic;
    quotes: '\201C' '\201D';
    text-indent: -0.5rem;

    @supports (hanging-punctuation: first) {
      text-indent: 0;
      hanging-punctuation: first;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}
