:root {
  /**
   * Spacing
   */
  --scroll-margin-block-start: calc((100 / 18) * 1rem);

  /**
   * Typo
   */
  --base-font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif;
  --base-font-size: calc((18 / 16) * 1rem);
  --base-font-weight: 400;
  --base-line-height: calc((31 / 18));

  /* b, strong */
  --bold-font-weight: 700;

  /* small */
  --small-font-size: calc((16 / 18) * 1rem);
  --small-line-height: calc((27 / 16));

  /* Headings */
  --headings-font-family: var(--base-font-family);
  --headings-font-weight: 700;

  /* h1 */
  --h1-font-size: calc((47 / 18) * 1rem);
  --h1-line-height: calc((73 / 47));

  /* h2 */
  --h2-font-size: calc((37 / 18) * 1rem);
  --h2-line-height: calc((58 / 37));

  /* h3 */
  --h3-font-size: calc((29 / 18) * 1rem);
  --h3-line-height: calc((47 / 29));

  /* h4 */
  --h4-font-size: calc((23 / 18) * 1rem);
  --h4-line-height: calc((38 / 23));
}
