.container {
  inline-size: min(100% - var(--container-padding-inline) * 2, var(--container-max-width));
  margin-inline: auto;


  /* No padding for .container in .container */
  &:not(.container--full) & {
    inline-size: min(100%, (--container-max-width));
  }
}

.container--full {
  inline-size: 100%;
}

.container--small {
  inline-size: min(100% - var(--container-padding-inline) * 2, var(--container-small-max-width));
}
