/**
 * Skip to content link
 *
 */
.skip-link {



  &:focus {
    inset-block-start: calc((24 / 16) * 1rem);
    inset-inline-start: calc((24 / 16) * 1rem);
    position: absolute;
    z-index: 1337;
  }
}
