.alert {
  --link-color: currentcolor;
  --link-decoration-line: underline;
  --link-hover-color: currentcolor;
  --link-hover-decoration-line: none;

  border-radius: var(--alert-border-radius);
  border: var(--alert-border-width) solid transparent;
  padding-block: var(--alert-padding-y);
  padding-inline: var(--alert-padding-x);
}

.alert--info {
  background-color: var(--alert-info-background-color);
  border-color: var(--alert-info-border-color);
  color: var(--alert-info-color);
}

.alert--success {
  background-color: var(--alert-success-background-color);
  border-color: var(--alert-success-border-color);
  color: var(--alert-success-color);
}

.alert--danger {
  background-color: var(--alert-danger-background-color);
  border-color: var(--alert-danger-border-color);
  color: var(--alert-danger-color);
}

.alert--warning {
  background-color: var(--alert-warning-background-color);
  border-color: var(--alert-warning-border-color);
  color: var(--alert-warning-color);
}
