.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  font-size: calc((16 / 18) * 1rem);
  /* Remove list style without affecting semantics. */
  list-style-type: '';
}

.breadcrumb__item {



  /* Style the visual separators between links with CSS to prevent screen readers from announcing them. */
  &:not(:last-child)::after {
    block-size: calc((14 / 18) * 1rem);
    border-inline-end: calc((1 / 18) * 1rem) solid currentcolor;
    content: '';
    display: inline-block;
    inline-size: calc((1 / 18) * 1rem);
    margin-inline-end: calc((8 / 18) * 1rem);
    padding-inline-start: calc((8 / 18) * 1rem);
    transform: rotate(15deg);
  }
}

.breadcrumb__item--active {
  --link-color: currentcolor;
  --link-decoration-line: none;
  --link-hover-color: currentcolor;
  --link-hover-decoration-line: none;
}
