.card {
  --link-color: var(--card-link-color);
  --link-decoration-line: var(--card-link-decoration-line);
  --link-hover-color: var(--card-link-hover-color);
  --link-hover-decoration-line: var(--card-link-hover-decoration-line);

  background-color: var(--card-background-color);
  border-radius: calc((8 / 18) * 1rem);
  border: calc((1 / 18) * 1rem) solid var(--card-border-color);
  color: var(--card-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.card__image {
  background-color: var(--card-image-background-color);
  color: var(--card-image-color);


  & img {
    aspect-ratio: 16 / 9;
    block-size: 100%;
    inline-size: 100%;
    min-block-size: calc((150 / 18) * 1rem);
    object-fit: cover;
  }
}

.card__body {
  background-color: var(--card-body-background-color);
  color: var(--card-body-color);
  flex: 1;
  padding: calc((16 / 18) * 1rem);


  & a {


    &::after {
      content: '';
      inset: 0;
      position: absolute;
    }
  }

  & > * + * {
    margin-block-start: 1lh;
  }
}
