.color-scheme-toggle {
  --button-background-color: transparent;
  --button-color: currentcolor;
  --button-border-color: transparent;
  --button-hover-background-color: transparent;
  --button-hover-border-color: transparent;
  --button-hover-color: currentcolor;

  background-color: var(--color-scheme-toggle-background-color);
  border-color: var(--color-scheme-toggle-border-color);
  border-radius: calc((360 / 18) * 1rem);
  color: var(--color-scheme-toggle-color);
  column-gap: calc((4 / 18) * 1rem);
  display: flex;
  inline-size: fit-content;
  padding: calc((4 / 18) * 1rem);


  & [data-color-scheme] {
    border-radius: 100%;
    padding: calc((4 / 18) * 1rem);
  }

  & [aria-pressed='true'] {
    background-color: var(--color-scheme-toggle-active-background-color);
    color: var(--color-scheme-toggle-active-color);
  }
}
