.theme-switcher {
  display: flex;
  column-gap: calc((16 / 18) * 1rem);


  & [data-theme] {
    inline-size: calc((24 / 18) * 1rem);
    block-size: calc((24 / 18) * 1rem);
  }

  & [data-theme='dark'] {
    background-color: var(--theme-switcher-dark-background-color);
    border-color: var(--theme-switcher-dark-border-color);
    color: var(--theme-switcher-dark-color);
  }

  & [data-theme='light'] {
    background-color: var(--theme-switcher-light-background-color);
    border-color: var(--theme-switcher-light-border-color);
    color: var(--theme-switcher-light-color);
  }
}
