::selection {
  background-color: var(--focus-background-color);
  color: var(--focus-color);
}

::target-text {
  background-color: var(--focus-background-color);
  color: var(--focus-color);
}

html {
  scroll-padding-block: var(--scroll-padding-top) var(--scroll-padding-bottom);

  @media screen and (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
}

hr {
  border-block-start: calc((1 / 18) * 1rem) solid var(--hr-border-color);
}
