.btn {
  appearance: none;
  background-color: var(--button-background-color);
  background-image: none;
  border-radius: 0;
  border: calc((1 / 18) * 1rem) solid var(--button-border-color);
  color: var(--button-color);
  display: inline-flex;
  text-decoration: none;


  &:hover,
  &:focus-visible {
    background-color: var(--button-hover-background-color);
    border-color: var(--button-hover-border-color);
    color: var(--button-hover-color);
  }
}

/**
 * Primary Button
 *
 */
.btn--primary {
  background-color: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
  border-radius: 0;
  color: var(--button-primary-color);
  padding-block: calc((4 / 18) * 1rem);
  padding-inline: calc((12 / 18) * 1rem);


  &:hover,
  &:focus-visible {
    background-color: var(--button-primary-hover-background-color);
    border-color: var(--button-primary-hover-border-color);
    color: var(--button-primary-hover-color);
  }
}

/**
 * Secondary button
 *
 */
.btn--secondary {
  background-color: var(--button-secondary-background-color);
  border-color: var(--button-secondary-border-color);
  border-radius: 0;
  color: var(--button-secondary-color);
  padding-block: calc((4 / 18) * 1rem);
  padding-inline: calc((12 / 18) * 1rem);


  &:hover,
  &:focus-visible {
    background-color: var(--button-secondary-hover-background-color);
    border-color: var(--button-secondary-hover-border-color);
    color: var(--button-secondary-hover-color);
  }
}

/**
 * Button width icon
 *
 */
.btn--icon {
  align-items: center;
  column-gap: calc((8 / 18) * 1rem);
  display: inline-flex;
}
