kbd,
code,
samp,
pre {
  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
}

/**
 * Keyboard input
 *
 */
kbd {
  background-color: var(--code-background-color);
  box-decoration-break: clone;
  color: var(--code-color);
  font-size: calc((16 / 18) * 1rem);
  padding-block: calc((4 / 18) * 1rem);
  padding-inline: calc((8 / 18) * 1rem);
}

/**
 * Inline code
 *
 */
code {
  background-color: var(--code-background-color);
  box-decoration-break: clone;
  color: var(--code-color);
  font-size: calc((16 / 18) * 1rem);
  padding-block: calc((4 / 18) * 1rem);
  padding-inline: calc((8 / 18) * 1rem);
}

/**
 * Sample output
 *
 */
samp {
  font-size: calc((16 / 18) * 1rem);
}

/**
 * Preformatted text
 *
 */
pre {
  background-color: var(--code-background-color);
  color: var(--code-color);
  overflow-x: auto;
  padding: calc((8 / 18) * 1rem);
  tab-size: 4;


  & code {
    padding: 0;
  }
}
