@import url('./forms/_form-input.css');
@import url('./forms/_form-check.css');
@import url('./forms/_form-radio.css');
@import url('./forms/_form-select.css');
@import url('./forms/_form-textarea.css');

fieldset {
  border: none;
}

legend {
  display: block;


  & + * {
    margin-block-start: calc((4 / 18) * 1rem);
  }
}

label {



  & + * {
    margin-block-start: calc((4 / 18) * 1rem);
  }
}

input,
textarea {


  &:user-invalid {
    background-color: var(--input-invalid-background-color);
    border-color: var(--input-invalid-border-color);
    color: var(--input-invalid-color);
  }
}
