/**
 * Description list
 *
 */
dt {
  font-weight: var(--bold-font-weight);
}

dd {
  margin-inline-start: 1rem;


  & + dt {
    margin-block-start: 1rem;
  }
}

/**
 * Unordered list
 *
 */
ul {



  & ul {
    margin-inline-start: 1rem;
  }
}

/**
 * Ordered list
 *
 */
ol {



  & ol {
    margin-inline-start: 1rem;
  }
}
