table {
  border-collapse: collapse;
  inline-size: 100%;
}

thead {



  & tr {
    border-block-end: calc((1 / 18) * 1rem) solid var(--table-thead-tr-border-color);
  }
}

th {
  font-weight: var(--bold-font-weight);
  padding: calc((8 / 18) * 1rem);
  text-align: start;
}

tbody {



  & tr {
    border-block-end: calc((1 / 18) * 1rem) solid var(--table-tbody-tr-border-color);
  }
}

td {
  padding: calc((8 / 18) * 1rem);
  text-align: start;
}
