table {
  border-collapse: separate;
  border-spacing: 0;
  inline-size: 100%;
}

thead {
  position: sticky;
  inset-block-start: var(--scroll-padding-top);


  & th {
    background-color: var(--table-thead-th-background-color);
    border-block-end: calc((1 / 18) * 1rem) solid var(--table-thead-th-border-color);
    color: var(--table-thead-th-color);
  }
}

th {
  font-weight: var(--bold-font-weight);
  padding: calc((8 / 18) * 1rem);
  text-align: start;
}

tbody {



  & th {
    background-color: var(--table-tbody-th-background-color);
    border-block-end: calc((1 / 18) * 1rem) solid var(--table-tbody-th-border-color);
    color: var(--table-tbody-th-color);
  }

  & td {
    background-color: var(--table-tbody-td-background-color);
    border-block-end: calc((1 / 18) * 1rem) solid var(--table-tbody-td-border-color);
    color: var(--table-tbody-td-color);
  }
}

td {
  padding: calc((8 / 18) * 1rem);
  text-align: start;
}

caption {
  caption-side: bottom;
  margin-block-start: calc((8 / 18) * 1rem);
  text-align: start;
}
