:root {
  /**
   * Body
   */
  --body-background-color: var(--black);
  --body-color: var(--white);


  /**
   * Focus
   */
  --focus-background-color: var(--yellow);
  --focus-color: var(--black);


  /**
   * Links
   */
  --link-color: var(--white);
  --link-decoration-line: underline;
  --link-hover-color: var(--white);
  --link-hover-decoration-line: none;

  /**
   * hr
   */
  --hr-border-color: color-mix(in srgb, var(--white) 30%, var(--black));

  /**
   * Buttons
   */
  --button-background-color: transparent;
  --button-color: var(--white);
  --button-border-color: transparent;
  --button-hover-background-color: transparent;
  --button-hover-border-color: transparent;
  --button-hover-color: var(--white);

  /* Primary */
  --button-primary-background-color: var(--white);
  --button-primary-border-color: var(--white);
  --button-primary-color: var(--black);
  --button-primary-hover-background-color: color-mix(in srgb, var(--white) 80%, var(--black));
  --button-primary-hover-border-color: color-mix(in srgb, var(--white) 80%, var(--black));
  --button-primary-hover-color: var(--black);

  /* Secondary */
  --button-secondary-background-color: transparent;
  --button-secondary-border-color: var(--white);
  --button-secondary-color: var(--white);
  --button-secondary-hover-background-color: var(--white);
  --button-secondary-hover-border-color: var(--white);
  --button-secondary-hover-color: var(--black);


  /**
   * Forms
   */

  /* Input */
  --input-background-color: var(--white);
  --input-border-color: color-mix(in srgb, var(--white) 30%, var(--black));
  --input-color: var(--black);

  /* Checkbox */
  --check-background-color: var(--white);
  --check-border-color: color-mix(in srgb, var(--white) 30%, var(--black));
  --check-color: var(--black);

  /* Radio */
  --radio-background-color: var(--white);
  --radio-border-color: color-mix(in srgb, var(--white) 30%, var(--black));
  --radio-color: var(--black);

  /* Select */
  --select-background-color: var(--white);
  --select-border-color: color-mix(in srgb, var(--white) 30%, var(--black));
  --select-color: var(--black);
}
