:root {
  /**
   * Body
   */
  --body-background-color: var(--color-neutral-900);
  --body-color: var(--color-neutral-100);


  /**
   * Focus
   */
  --focus-background-color: var(--yellow);
  --focus-color: var(--color-neutral-900);


  /**
   * Links
   */
  --link-color: var(--color-neutral-100);
  --link-decoration-line: underline;
  --link-hover-color: var(--color-neutral-100);
  --link-hover-decoration-line: none;

  /**
   * hr
   */
  --hr-border-color: var(--color-neutral-500);

  /**
   * Table
   */
  --table-thead-tr-background-color: var(--color-neutral-900);
  --table-thead-tr-color: var(--color-neutral-100);
  --table-thead-th-border-color: var(--color-neutral-100);

  /* tbody */
  --table-tbody-tr-background-color: var(--color-neutral-900);
  --table-tbody-tr-color: var(--color-neutral-100);
  --table-tbody-tr-odd-background-color: var(--color-neutral-800);
  --table-tbody-tr-odd-color: var(--color-neutral-100);
  --table-tbody-th-border-color: var(--color-neutral-800);
  --table-tbody-td-border-color: var(--color-neutral-800);

  /**
   * Buttons
   */
  --button-background-color: transparent;
  --button-color: var(--color-neutral-100);
  --button-border-color: transparent;
  --button-hover-background-color: transparent;
  --button-hover-border-color: transparent;
  --button-hover-color: var(--color-neutral-100);

  /* Primary */
  --button-primary-background-color: var(--color-neutral-100);
  --button-primary-border-color: var(--color-neutral-100);
  --button-primary-color: var(--color-neutral-900);
  --button-primary-hover-background-color: color-mix(in srgb, var(--color-neutral-100) 80%, black);
  --button-primary-hover-border-color: color-mix(in srgb, var(--color-neutral-100) 80%, black);
  --button-primary-hover-color: var(--color-neutral-900);

  /* Secondary */
  --button-secondary-background-color: transparent;
  --button-secondary-border-color: var(--color-neutral-100);
  --button-secondary-color: var(--color-neutral-100);
  --button-secondary-hover-background-color: var(--color-neutral-100);
  --button-secondary-hover-border-color: var(--color-neutral-100);
  --button-secondary-hover-color: var(--color-neutral-900);


  /**
   * Forms
   */

  /* Input */
  --input-background-color: var(--color-neutral-100);
  --input-border-color: var(--color-neutral-500);
  --input-color: var(--color-neutral-900);

  /* Checkbox */
  --check-background-color: var(--color-neutral-100);
  --check-border-color: var(--color-neutral-500);
  --check-color: var(--color-neutral-900);

  /* Radio */
  --radio-background-color: var(--color-neutral-100);
  --radio-border-color: var(--color-neutral-500);
  --radio-color: var(--color-neutral-900);

  /* Select */
  --select-background-color: var(--color-neutral-100);
  --select-border-color: var(--color-neutral-500);
  --select-color: var(--color-neutral-900);


  /**
   * Accordion
   */
  --accordion-button-background-color: transparent;
  --accordion-button-color: var(--color-neutral-100);
  --accordion-button-border-color: var(--color-neutral-500);
  --accordion-content-background-color: transparent;
  --accordion-content-color: var(--color-neutral-100);

  /**
   * Card
   */
  --card-background-color: transparent;
  --card-border-color: var(--color-neutral-800);
  --card-color: var(--color-neutral-900);
  --card-image-background-color: var(--color-neutral-800);
  --card-image-color: var(--color-neutral-100);
  --card-body-background-color: var(--color-neutral-100);
  --card-body-color: var(--color-neutral-900);
  --card-link-color: var(--color-neutral-900);
  --card-link-decoration-line: underline;
  --card-link-hover-color: var(--color-neutral-900);
  --card-link-hover-decoration-line: none;
}
