:root {
  /**
   * Body
   */
  --body-background-color: var(--white);
  --body-color: var(--color-neutral-900);


  /**
   * Focus
   */
  --focus-background-color: var(--yellow);
  --focus-color: var(--color-neutral-900);


  /**
   * Links
   */
  --link-color: var(--primary-color);
  --link-decoration-line: underline;
  --link-hover-color: var(--primary-color);
  --link-hover-decoration-line: none;

  /**
   * hr
   */
  --hr-border-color: var(--color-neutral-500);

  /**
   * Buttons
   */
  --button-background-color: transparent;
  --button-color: var(--color-neutral-900);
  --button-border-color: transparent;
  --button-hover-background-color: transparent;
  --button-hover-border-color: transparent;
  --button-hover-color: var(--color-neutral-900);

  /* Primary */
  --button-primary-background-color: var(--primary-color);
  --button-primary-border-color: var(--primary-color);
  --button-primary-color: var(--white);
  --button-primary-hover-background-color: color-mix(in srgb, var(--primary-color) 80%, black);
  --button-primary-hover-border-color: color-mix(in srgb, var(--primary-color) 80%, black);
  --button-primary-hover-color: var(--white);

  /* Secondary */
  --button-secondary-background-color: transparent;
  --button-secondary-border-color: var(--primary-color);
  --button-secondary-color: var(--primary-color);
  --button-secondary-hover-background-color: var(--primary-color);
  --button-secondary-hover-border-color: var(--primary-color);
  --button-secondary-hover-color: var(--white);


  /**
   * Forms
   */

  /* Input */
  --input-background-color: var(--white);
  --input-border-color: var(--color-neutral-500);
  --input-color: var(--color-neutral-900);
  --input-invalid-background-color: var(--color-red-100);
  --input-invalid-border-color: var(--color-red-200);
  --input-invalid-color: var(--color-red-600);

  /* Checkbox */
  --check-background-color: var(--white);
  --check-border-color: var(--color-neutral-500);
  --check-color: var(--primary-color);

  /* Radio */
  --radio-background-color: var(--white);
  --radio-border-color: var(--color-neutral-500);
  --radio-color: var(--primary-color);

  /* Select */
  --select-background-color: var(--white);
  --select-border-color: var(--color-neutral-500);
  --select-color: var(--color-neutral-900);


  /**
   * Accordion
   */
  --accordion-button-background-color: transparent;
  --accordion-button-color: var(--color-neutral-900);
  --accordion-button-border-color: var(--color-neutral-500);
  --accordion-content-background-color: transparent;
  --accordion-content-color: var(--color-neutral-900);


  /**
   * Alert
   */

  /* Info */
  --alert-info-background-color: var(--color-blue-100);
  --alert-info-border-color: var(--color-blue-200);
  --alert-info-color: var(--color-blue-600);

  /* Success */
  --alert-success-background-color: var(--color-green-100);
  --alert-success-border-color: var(--color-green-200);
  --alert-success-color: var(--color-green-600);

  /* Warning */
  --alert-warning-background-color: var(--color-orange-100);
  --alert-warning-border-color: var(--color-orange-200);
  --alert-warning-color: var(--color-orange-600);

  /* Danger */
  --alert-danger-background-color: var(--color-red-100);
  --alert-danger-border-color: var(--color-red-200);
  --alert-danger-color: var(--color-red-600);

  /**
   * Card
   */
  --card-background-color: transparent;
  --card-border-color: var(--color-neutral-500);
  --card-color: var(--color-neutral-900);
  --card-image-background-color: var(--primary-color);
  --card-image-color: var(--white);
  --card-body-background-color: var(--white);
  --card-body-color: var(--color-neutral-900);
  --card-link-color: var(--primary-color);
  --card-link-decoration-line: underline;
  --card-link-hover-color: var(--primary-color);
  --card-link-hover-decoration-line: none;
}
