main {
  margin-block: calc((80 / 18) * 1rem);

  & > * + * {
    margin-block-start: calc((120 / 18) * 1rem);
  }
}

section,
form {



  & > * + *:not(.accordion) {
    margin-block-start: 1rlh;
  }
}

header {



  &:has(.anchor) {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  & + * {
    margin-block-start: calc((48 / 18) * 1rem);
  }
}

.anchor {
  font-size: calc((18 / 18) * 1rem);
  font-weight: var(--base-font-weight);
  margin-inline-start: calc((16 / 18) * 1rem);
}

.toc {



  & ol {
    display: flex;
    flex-flow: column;
    row-gap: calc((8 / 18) * 1rem);
  }
}

.card {
  max-inline-size: calc((350 / 18) * 1rem);
}

section:has([id='grid']) {
  --blue-light: #F0F7FF;


  & [class*="flex__"] span {
    background: var(--blue-light);
    color: var(--color-neutral-900);
    display: block;
    height: 100%;
    padding-block: calc((16 / 18) * 1rem);
    padding-inline: calc((16 / 18) * 1rem);
  }

  & span > .flex {
    border: calc((4 / 18) * 1rem) solid var(--body-background-color);
  }
}
