.form-group--check {
  align-items: baseline;
  display: grid;
  gap: calc((8 / 18) * 1rem);
  grid-template-columns: calc((24 / 18) * 1rem) auto;
  justify-items: start;
}

input[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--check-background-color);
  block-size: calc((24 / 18) * 1rem);
  border-radius: var(--check-border-radius);
  border: calc((1 / 18) * 1rem) solid var(--check-border-color);
  color: var(--check-color);
  display: grid;
  inline-size: calc((24 / 18) * 1rem);
  place-content: center;
  transform: translateY(calc((1 / 18) * 1rem));


  &::before {
    background-color: CanvasText;
    block-size: calc((16 / 18) * 1rem);
    box-shadow: inset 1em 1em var(--check-focus-background-color);
    content: '';
    inline-size: calc((16 / 18) * 1rem);
    -webkit-mask-image: url('./../../../icons/check.svg');
            mask-image: url('./../../../icons/check.svg');
    mask-mode: auto;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain;
    opacity: 0;
  }

  &:indeterminate::before,
  [aria-checked='mixed']::before {
    -webkit-mask-image: url('./../../../icons/minus.svg');
            mask-image: url('./../../../icons/minus.svg');
  }

  &:checked::before {
    opacity: 1;
  }

  &[disabled],
	&[aria-disabled=true] {
    opacity: 0.4;
  }
}
