.form-group--radio {
  align-items: baseline;
  display: grid;
  gap: calc((8 / 18) * 1rem);
  grid-template-columns: calc((24 / 18) * 1rem) auto;
  justify-items: start;
}

input[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--radio-background-color);
  block-size: calc((24 / 18) * 1rem);
  border-radius: 50%;
  border: calc((1 / 18) * 1rem) solid var(--radio-border-color);
  color: var(--radio-color);
  display: grid;
  inline-size: calc((24 / 18) * 1rem);
  place-content: center;
  transform: translateY(calc((-2 / 18) * 1rem));


  &::before {
    background-color: CanvasText;
    block-size: calc((8 / 18) * 1rem);
    border-radius: 50%;
    box-shadow: inset 1em 1em var(--radio-focus-background-color);
    content: '';
    inline-size: calc((8 / 18) * 1rem);
    opacity: 0;
  }

  &:checked::before {
    opacity: 1;
  }

  &[disabled],
	&[aria-disabled=true] {
    opacity: 0.4;
  }
}
