/* stylelint-disable declaration-no-important */
*,
*::before,
*::after {
  background-color: white !important;
  box-shadow: none !important;
  color: black !important;
  text-shadow: none !important;
}

a {
  text-decoration: none !important;


  &::after {
    content: ' ("attr(href)")' !important;
  }
}
/* stylelint-enable declaration-no-important */
