* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
}

a,
button {
  touch-action: manipulation;
}

hr {
  border: 0;
}

address,
button,
input,
select,
textarea,
::file-selector-button {
  font: inherit;
  line-height: inherit;
}

::placeholder {
  opacity: 1;
}

img,
picture {
  display: block;
}

img {
  block-size: auto;
  max-inline-size: 100%;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
