input:not([type='checkbox'], [type='radio']),
textarea {
  background-color: var(--input-background-color);
  border-radius: 0;
  border: calc((1 / 18) * 1rem) solid var(--input-border-color);
  color: var(--input-color);
  inline-size: 100%;
  padding-block: calc((4 / 18) * 1rem);
  padding-inline: calc((8 / 18) * 1rem);
}

/* File input */
::file-selector-button {
  appearance: none;
  background-color: var(--button-file-input-background-color);
  border-radius: 0;
  border: calc((1 / 18) * 1rem) solid var(--button-file-input-border-color);
  color: var(--button-file-input-color);
  display: inline-flex;
  padding-block: calc((4 / 18) * 1rem);
  padding-inline: calc((8 / 18) * 1rem);
  text-decoration: none;
}
